<mat-list role="list">
  <mat-list-item role="listitem"  (click)="openApp('')">
      <i class="mdi-action-home"></i>Inicio
  </mat-list-item>
  <mat-list-item role="listitem"  (click)="openApp('ventas')">
      <i class="mdi-editor-attach-money"></i>Ventas
  </mat-list-item>
  <mat-list-item role="listitem">
      <i class="mdi-maps-local-parking"></i>Productos
  </mat-list-item>
  <mat-list-item role="listitem">
      <i class="mdi-communication-business"></i>Almacen
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item role="listitem">
      <i class="mdi-communication-import-export"></i>Traspasos
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item role="listitem">
      <i class="mdi-content-remove-circle"></i>Salir
  </mat-list-item>
</mat-list>