<mat-card>
    <div class="row">
        <div class="col s6 l46 x6">
            <mat-form-field class="full-width">
                <input matInput placeholder="Codigo de Venta" value="">
            </mat-form-field>
        </div>

        <div class="col s6 l6 x6">
            <mat-form-field class="full-width">
                <input matInput [matDatepicker]="picker" placeholder="Fecha de Venta">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col s10 x10 l4">
            <mat-form-field class="full-width">
                <input matInput placeholder="Codigo de Cliente" value="">
            </mat-form-field>
        </div>
        <div class="col s2 x2 l1">
            <button mat-mini-fab>
                <i class="mdi-social-group-add"></i>
            </button>
        </div>
        <div class="col s12 x12 l7">
            <mat-form-field class="full-width">
                <input matInput placeholder="Información del Cliente">
            </mat-form-field>
        </div>
    </div>
</mat-card>