<mat-sidenav-container class="example-container" *ngIf="shouldRun">
    <mat-sidenav #sidenav [mode]="mode" [(opened)]="opened">
        <app-sidebar-header></app-sidebar-header>
        <app-sidebar-items></app-sidebar-items>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-header></app-header>
        
        <div class="button-row">
        <button id="btn-sidenav" class="sidenav-button" mat-mini-fab (click)="sidenav.toggle()" color="primary">
            <i class="mdi-navigation-menu"></i>
        </button>
        </div>
    </mat-sidenav-content>

</mat-sidenav-container>